div.area-dist{
    position: relative;
    min-width: 80%;
    max-width: 80%;
    min-height: 80vh;
    max-height: 80vh;
    background-color: #111111e0;
    border: 2px solid #fff;
    margin: 4% auto;
    border-radius: .25rem;
    padding: 10px;
    overflow: scroll;
    color: #e9e1e1;
}
div.area-insere{
    text-align: center;
}
.title{
    margin-top: 3%;
    color: #111111e0;
    letter-spacing: 1px;
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
}
.title2{
    margin-bottom: 8px;
}
#btn-finaliza{
    text-decoration: none;
    display: inline-block;
}
input, #btn-finaliza{
    background-color: initial;
    border: 1.5px solid #fff;
    border-radius: .25rem;
    outline: none;
    width: 30%;
    height: 31px;
    color: #fff;
    font-weight: bold;
    margin-right: 2%;
    padding: 5px;
    font-size: 0.9rem;
}
input::placeholder{
    color: #beb3b3;
}
input:focus{
    background-color: rgba(48, 43, 43, 0.089);
}
input[type="submit"]
{
    width: 15%;
    cursor: pointer;
    transition: .1s;
}
input[type="button"]{
    margin-top: 10px;
}
input[type="submit"]:hover, input[type="button"]:hover
{
    cursor: pointer;
    background-color: rgba(50, 190, 50, 0.39);
    color: #FFF;
}
#btn-finaliza:hover{
    transition: .2s;
    background-color: rgba(28, 74, 199, 0.575);
}
input#btn-apaga:hover{
    transition: .2s;
    background-color: rgba(228, 22, 22, 0.671);
}
div#area-table{
    padding: 10px;
    margin: 10px;
}

table#table{
    color: honeydew;
    width: 100%;
    background-color: #00000075;
    border: 2px solid #f2f2f2;
    border-collapse: collapse;
    border-radius: 0.2rem;
    text-align: center;
}
#table-b tr:hover{
    transition: .1s;
    background-color: #272525dc;
}
td, th{
    border: 1.25px solid #f2f2f2;
    padding: 2.5px;
}
.oculta{
    visibility: hidden;
}
.fa-home{
    font-size: 2rem;
    position: absolute;
    right: 5px;
    transition: .2s;
    color: red;
}
.fa-home:hover{
    color: rgba(1, 158, 1, 0.836);
    cursor: pointer;
}
#erros{
    color: rgb(235, 45, 12);
    text-align: center;
    margin: 10px 0 4px 0;
}
caption{
    margin: 4px 0;
    opacity: 80%;
    color: #b4abb4f6;
}

@media(max-width: 494px)
{
    input#xi, input#p-xi{
        text-align: center;
        margin-bottom: 0.5rem;
        width: 100%;
    }
    label{
        display: none;
    }
    h1.title2{
        font-size: 1.1rem;
        text-shadow: 1px 1px 40px rgba(16, 48, 16, 0.808);
    }
    input[type="button"], a#btn-finaliza{
        width: 28%;
        font-size: 0.7rem;
        font-weight: bold;
    }
    .modal__content {
        min-width: 10px;
        position: relative;
        background-color: #f5f5f5;
        border: 2px solid #e2ddddc4;
        border-radius: .25rem;
        padding: 2.5rem;
    }
    .title{
        font-size: 1.8rem;
    }
    .fa-home{ 
        position: sticky;   
    }
}