div.intro p{
    font-size: 0.8rem;
    letter-spacing: 0.2px;
    line-height: 1.1rem;
    text-align: justify;
    text-indent: 30px;
}
section{
    margin: 50px auto;
}
hr{
    width: 95%;
    margin: 10px 0;
}
a{
    text-decoration: none;
    color: rgba(84, 170, 4, 0.726);
    transition: .1s;
}
a:hover{
    color: rgb(84, 170, 4);
    text-shadow: 1px 0.5px 10px rgba(150, 224, 38, 0.911);
}
div.label-dist{
    position: relative;
    background-color: #fff;
    min-width: 80%;
    max-width: 80%;
    margin: auto;
    min-height: 80vh;
    max-height: 80vh;
    border: 2px solid #c7c7f1b9;
    padding: 1.2rem;
    border-radius: .25rem;
    box-shadow: 5px 5px 20px 5px #aca7a756;
}

.main-title{
    text-align: center;
    text-shadow: 0px 5px 4px #41c70327;
    margin-bottom: 10px;
}
.secondary-title{
    margin: 12px 0;
    text-align: center;
    text-shadow: 0px 5px 4px #d6c9c971;
    font-size: 1rem;
}
.intro-title{
    text-align: center;
    text-shadow: 0px 5px 4px #d6c9c971;
    font-size: 1rem;
}

.main-title::after{
    content: "";
    width: 15%;
    position: absolute;
    top: 40px;
    border-bottom: 1.5px solid rgb(75, 70, 70);
    left: 42%;
    opacity: 70%;
}
a.btn{
    display: inline-block;
    background-color: initial;
    width: 40%;
    border: 1.5px solid rgba(84, 170, 4, 0.877);
    padding: 5px;
    height: 2.5rem;
    font-weight: bolder;
    color: #4b4545;
    border-radius: .25rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: .2s;
    outline: none;
    text-align: center;
    line-height: 25px;
}
a.btn:hover{
    background-color: rgb(106, 190, 106);
    color: #FFF;
    opacity: 90%;
}
div.ops{
    height: 30vh;
    padding: 5px;
}
a#btn-normal-dist{
   margin-left: 6%;
}
a#btn-binomial-dist{
    margin-left: 6%;
}
@media(max-width:  814px)
{
    .main-title{
        font-size: 1.5rem;
    }
    div.intro p.oculta-p{
        display: none;
    }
    a.btn{
        font-size: 0.7rem;
        line-height: 15px;
        width: 40%;
        height: 3rem;
        margin: 0;
        padding-top: 8px;
    }
    h3.secondary-title{
        font-size: 0.95rem;
    }
    
}